opencv-python
flask
numpy
pandas
matplotlib
scikit-learn
tqdm
keras
imutils
moviepy
torch
torchvision
torchaudio
albumentations
scipy
h5py
flask-cors
werkzeug
mtcnn
imageio
imageio[ffmpeg]
tensorflow
os